<div class="center jumbotron">
  <h1>Astrid Farmer</h1>
  <p>Sign up to my blog to follow all my adventures.</p>
  <%= link_to "Sign up now!", signup_path, class:"btn btn-primary bt-lg btn-xlarge" %>

</div>