<div class="center homebanner">

  <h1>RUBY ON RAILS</h1>
  <hr>
  <p>I built this simple blogging platform using Ruby on Rails.<br>
      It utilises the MVC design pattern, and has a PostgreSQL database.<br>
      You can explore the full funtionality by signing up for an account,<br>
      or just take a quick look around.<br>
  </p><br>
  <%= link_to "EXPLORE", articles_path, class:"btn btn-primary bt-lg btn-xlarge explore-btn" %>
  <%= link_to "LOG IN", login_path, class:"btn btn-primary bt-lg btn-xlarge login-btn" %>
  <%= link_to "SIGN UP", signup_path, class:"btn btn-primary bt-lg btn-xlarge" %>
  <br>

</div>