
  <footer class="footer navbar-fixed-bottom">

    <small>
      Copyright &copy; <a href="https://www.astridfarmer.com">Ruby on Rails demo blog</a>
      by Astrid Farmer
    </small>
    <small style="float:right;">
     <a href="https://www.astridfarmer.com">Check out the GitHub repository ></a>
    </small>



  </footer>
